html,
body {
  height: 100%;
  margin: 0;
}

body {
  background: rgb(7, 123, 86);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

canvas {
  background: black;
  border: 1px solid white;
}
